<h3>Accounting Period</h3>
<h6></h6>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Accounting Period | {{ap.accountingNumber}}: {{ap.periodFrom| date:'mediumDate'}} - {{ap.periodTo| date:'mediumDate'}}</h3>
    </div>
    <div class="panel-body">

        <table class="table">
            <thead>
                <tr>
                    <th>working day</th>
                    <th>user</th>
                    <th>description</th>
                    <th>working time</th>
                    <th>price hour</th>
                    <th>price</th>
                </tr> 
            </thead>
            <tbody data-ng-repeat="atd in ap.accountingTimeDetails">
                <tr>
                    <td>
                        <input type="text" id="wdId{{atd.id}}" class="form-control dpWorkingDay" data-ng-model="atd.workingDay" />
                    </td>
                    <td>
                        <select class="form-control" data-ng-model="atd.userId" data-ng-options="p.id as p.nickname for p in individuals" ></select>
                    </td>
                    <td>
                        <input type="text" class="form-control" data-ng-model="atd.description">
                    </td>
                    <td>
                        <input type="number" class="form-control" data-ng-model="atd.workingTime" />
                    </td>                    
                    <td>
                        <input type="number" class="form-control" data-ng-model="atd.priceHour" />
                        {{ap.accountingCurrency}}
                    </td>
                    <td>{{atd.price| currency:ap.accountingCurrency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <button class="btn btn-info" data-ng-click="updateAccountingPeriod()">
            <i class="icon-plus-sign"></i> Update
        </button>

        <button class="btn btn-info" data-ng-click="createInvoice()">
            <i class="icon-list-alt"></i> Create Invoice
        </button>
    </div>
</div>