<h3>Per Diems {{perDiemsData.yearMonth}}</h3>
<h6></h6>


<div class="panel panel-default">
    <div class="panel-heading" style="float: right; text-align: right;" >
        <h3>Summe: {{perDiemsData.sum| currency:'€'}}</h3>
    </div>
    <div class="panel-body">


        <table class="table per-diems">
            <thead>
                <tr>
                    <th class="pd-date-column">Date</th>
                    <th class="pd-action-column"></th>
                    <th class="pd-project-column">Project</th>
                    <th class="pd-destination-column">Destination</th>
                    <th class="pd-fulltime-column" title="full-time">Ft</th>
                    <th class="pd-time-column">From</th>
                    <th class="pd-time-column">To</th>
                    <th class="pd-charges-column">Per Diem</th>
                </tr> 
            </thead>
            <tbody data-ng-repeat="perDiem in perDiemsData.perDiemList">
                <tr>
                    <td class="pd-date-column">{{perDiem.perDiemDate | date:'EEE, dd. MMM yyyy'}}</td>
                    <td class="pd-action-column">
                        <span style="width:25px; display:inline-block; text-align: center;">
                            <i class="icon-arrow-down" tooltip="copy data from day before" data-ng-click="copyPerDiem(perDiem, perDiemsData.perDiems[$index - 1])" data-ng-hide="$first"></i>
                        </span>|
                        <span style="width:25px; display:inline-block; text-align: center;">
                            <i class="icon-remove" tooltip="remove data" data-ng-click="removePerDiem(perDiem)"></i>
                        </span>
                    </td>
                    <td class="pd-project-column">
                        <select class="form-control" ng-model="perDiem.projectId" ng-options="project.id as project.key+' - '+project.name for (projectId, project) in projects"></select>
                    <td class="pd-destination-column">
                        <select class="form-control" ng-model="perDiem.travelExpensesRateId" ng-change="calcPerDiem(perDiem);" ng-options="ter.id as ter.country for ter in travelExpensesRates"></select>
                    </td>   
                    <td class="pd-fulltime-column">
                        <button type="button" tooltip="set time to full-time"  class="btn btn-default btn-xs" ng-click="fullTime(perDiem)"><span class="glyphicon glyphicon-time"></span></button>
                    </td>
                    <td class="pd-time-column">
                        <select class="form-control" data-ng-model="perDiem.timeFrom" data-ng-change="calcPerDiem(perDiem);" ng-options="o.key as o.value for o in timeSelection"></select>
                    </td>
                    <td class="pd-time-column">
                        <select class="form-control" data-ng-model="perDiem.timeTo" data-ng-change="calcPerDiem(perDiem);" ng-options="o.key as o.value for o in timeSelection"></select>
                    </td>
                    <td class="pd-charges-column"><span data-ng-hide="perDiem.charges === ''">{{perDiem.charges| currency:'€'}}</span></td>
                </tr>
            </tbody>                            
        </table>
    </div>
    <div class="panel-footer" style="float: right; text-align: right;" >
        <h3>Summe: {{perDiemsData.sum| currency:'€'}}</h3>


        <button class="btn btn-success" data-ng-click="sendToServer()">Save</button>

    </div>
</div>
