<h3>Project: {{project.projectKey}} - {{project.name}}</h3>
<h6>Project details</h6>



<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{project.projectKey}} - {{project.name}} | {{project.projectState}}</h3>
    </div>
    <div class="panel-body">

        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#general-information">General Information</a></li>
                <li><a data-toggle="tab" href="#work-packages">Work Packages</a></li>
                <li><a data-toggle="tab" href="#access">Access</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="general-information">
                    <br>
                    <form class="form-horizontal" data-role="form" id="form-general-information" novalidate>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="projectKey">Key</label>
                            <div class="col-md-9">
                                <input type="text" data-ng-model="project.projectKey" id="projectKey" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name">Project name</label>
                            <div class="col-md-9">
                                <input type="text" id="name" data-ng-model="project.name" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="projectManager">Project manager</label>
                            <div class="col-md-9">
                                <input type="text" id="projectManager" data-ng-model="project.projectManager" required placeholder="Enter a valid user id">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="projectStart">Project start</label>
                            <div class="col-md-9">
                                <input type="text" id="projectStart" data-ng-model="project.projectStart">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="projectEnd">Project end</label>
                            <div class="col-md-9">
                                <input type="text" id="projectEnd" data-ng-model="project.projectEnd">
                            </div>
                        </div>

                    </form>


                </div>
                <div class="tab-pane" id="work-packages">
                    <br>

                    <div class="row">

                        <div class="col-md-4">

                            <div class="panel panel-default">
                                <div class="panel-heading">Work packages</div>
                                <div class="panel-body">
                                    <table class="table table-bordered ">                                                                   
                                        <tbody data-ng-repeat="workPackage in project.workPackages">
                                            <tr>                                                                            
                                                <td data-ng-click="selectWP(workPackage)" style="cursor: pointer">{{workPackage.wpName}}</td>
                                                <td>
                                                    <a data-ng-click="removeWP(workPackage)" style="cursor: pointer">
                                                        <span class="icon-remove" title="Remove work package"></span>
                                                    </a>
                                                </td>  
                                            </tr>
                                        </tbody>                                                                   
                                    </table>
                                </div>
                                <div class="panel-footer">

                                    <button class="btn btn-info" data-ng-click="newWP()">
                                        <i class="icon-plus-sign"></i> New work package
                                    </button>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-8">

                            <div class="panel panel-default" data-ng-hide="currentWP == null">
                                <div class="panel-heading">Work Package: {{currentWP.wpName}}</div>
                                <div class="panel-body">


                                    <form class="form-horizontal" data-role="form">

                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="wpName">Name</label>
                                            <div class="col-md-9">
                                                <input type="text" data-ng-model="currentWP.wpName" id="wpName" required placeholder="Enter work package name"/>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="limitForWorkingHours">Limited Working Hours</label>
                                            <div class="col-md-9">
                                                <input type="number" data-ng-model="currentWP.limitForWorkingHours" id="limitForWorkingHours"/>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="access">

                    <br>    
                    <p>construction area...</p>


                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">

        <button class="btn btn-success" data-ng-click="sendToServer()">Update</button>
        <button class="btn">Reset</button>

    </div>

</div>