<h3>Project: {{project.projectKey}} - {{project.name}}</h3>
<h6>Project details</h6>



<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{project.projectKey}} - {{project.name}} | {{project.projectState}}</h3>
    </div>
    <div class="panel-body">
        
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#general-information" data-toggle="tab">General Information</a></li>
                <li><a href="#work-packages" data-toggle="tab">Work Packages</a></li>
                <li><a href="#access" data-toggle="tab">Access</a></li>
            </ul>
            <div class="tab-content">

                <div class="tab-pane active" id="general-information">
                    <div class="padd">
                        <h6>General Information</h6>
                        <hr />

                        <div class="form">
                            <form class="form-horizontal" id="form-general-information">
                                <div class="row-fluid">
                                    <div class="span5" >            
                                        <!-- ProjectKey -->
                                        <div class="control-group">
                                            <label class="control-label" for="projectKey">Key</label>
                                            <div class="controls">
                                                <span class="input-mini uneditable-input">{{project.projectKey}}</span>
                                            </div>
                                        </div>   

                                        <!-- ProjectName -->
                                        <div class="control-group">
                                            <label class="control-label" for="name">Project name</label>
                                            <div class="controls">
                                                <input type="text" class="input-large" name="name" data-ng-model="project.name" placeholder="Enter project name">
                                            </div>
                                        </div>

                                        <!-- Project Manager -->
                                        <div class="control-group">
                                            <label style="width:auto" class="control-label" for="projectManager">Project manager</label>
                                            <div class="controls">
                                                <input type="text" class="input-large" name="projectManager" data-ng-model="project.projectManager" placeholder="Enter a valid user id">
                                            </div>
                                        </div>  

                                    </div>

                                    <div class="span7" >            
                                        <!-- Project Start -->
                                        <div class="control-group">
                                            <label class="control-label" for="projectStart">Project start</label>
                                            <div class="controls">
                                                <div class="input-append" id="project-start-area">
                                                    <input data-format="yyyy-MM-dd" class="span6" type="text" name="projectStart" data-ng-model="project.projectStart">
                                                    <span class="add-on">
                                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>  

                                        <!-- Project End -->
                                        <div class="control-group">
                                            <label class="control-label" for="projectEnd">Project end</label>
                                            <div class="controls">
                                                <div class="input-append datetimepicker" id="project-end-area">
                                                    <input data-format="yyyy-MM-dd" class="span6" type="text" name="projectEnd" data-ng-model="project.projectEnd">
                                                    <span class="add-on">
                                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>

                                </div>
                                <div class="form-actions">
                                    <!-- Buttons -->
                                    <button class="btn btn-success" data-ng-click="sendToServer()">Update</button>
                                    <button class="btn">Reset</button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>


                <div class="tab-pane" id="work-packages">

                    <div class="padd">
                        <h6>Work packages</h6>
                        <hr />
                        <div class="row-fluid">
                            <div class="span4" >            

                                <div class="widget wlightblue">

                                    <div class="widget-head">
                                        <div class="pull-left">Work Packages</div>                                                                
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="widget-content">
                                        <table class="table table-bordered ">                                                                   
                                            <tbody data-ng-repeat="workPackage in project.workPackages">
                                                <tr>                                                                            
                                                    <td></td>
                                                    <td data-ng-click="selectWP(workPackage)">{{workPackage.wpName}}</td>
                                                    <td>active</td>  
                                                </tr>
                                            </tbody>                                                                   
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="span8" >            

                                <div class="widget wviolet">

                                    <div class="widget-head">
                                        <div class="pull-left">Work Package: {{currentWP.wpName}}</div>                                                                
                                        <div class="clearfix"></div>
                                    </div>

                                    <div class="widget-content">

                                        <form class="form-horizontal">

                                            <!-- WP Name -->
                                            <div class="control-group">
                                                <label class="control-label" for="wpName">Name</label>
                                                <div class="controls">
                                                    <input type="text" class="input-large" id="wpName" data-ng-model="currentWP.wpName" placeholder="Enter work package name">
                                                </div>
                                            </div>

                                            <!-- Linmit for Working Hours -->
                                            <div class="control-group">
                                                <label style="width:auto" class="control-label" for="limitForWorkingHours">Limited Working Hours</label>
                                                <div class="controls">
                                                    <input type="text" class="input-large" id="limitForWorkingHours" data-ng-model="currentWP.limitForWorkingHours" placeholder="Enter limit">
                                                </div>
                                            </div>  
                                        </form>


                                    </div>


                                </div>

                            </div>
                            <div class="form-actions">
                                <!-- Buttons -->
                                <button class="btn btn-success" data-ng-click="sendToServer()">Update</button>
                                <button class="btn">Reset</button>
                            </div>

                        </div>
                    </div>




                </div>

                <div class="tab-pane" id="access">
                    <p>What up girl, this is Section 3.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="panel-footer">
    </div>

</div>