<h3>Time Recording</h3>

<div class="panel panel-default">
    <div class="panel-heading">

        <div class="row">
            <div class="col-md-5">
                <div class="input-group">
                    <input type="text" class="form-control" id="showTimeRecordFromUntil" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-ng-click="showRange()">change range</button>
                    </span>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-4">
                <div class="input-group">
                    <span class="input-group-addon">Weeks</span>
                    <input type="text" class="form-control" id="showWeeks" data-ng-model="weeks"  />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-ng-click="showWeeks(weeks)">change weeks</button>
                    </span>
                </div>
            </div>
        </div>

    </div>


    <div class="panel-body" style="overflow-x: auto">

        <table class="table table-bordered">
            <thead style="background-color: #52b9e9; color: #fff">
                <tr>
                    <th>project</th>
                    <th>work package</th>
                    <th>description</th>
                    <th class="tr-workingDay" data-ng-repeat="(workingDay, workingDayState) in timeRecording.workingDayRange track by $index">{{workingDay}}</th>
                </tr> 
            </thead>
            <tbody>
                <tr data-ng-repeat="workingHour in timeRecording.workingHours">
                    <td>                                        
                        <select style="width:130px" class="form-control" data-ng-model="workingHour.projectId" data-ng-options="project.id as project.key+' - '+project.name for (projectId, project) in projects"></select>
                    </td>
                    <td>
                        <select style="width:100px" class="form-control" data-ng-model="workingHour.workPackageId" data-ng-options="workPackage.id as workPackage.name for (workPackageId, workPackage) in projects[workingHour.projectId].workPackages"></select>
                    </td>
                    <td>
                        <input type="text" style="width:120px" class="form-control" data-ng-model="workingHour.description" />
                    </td>
                    <td class="tr-workingDay" data-ng-repeat="(workingDay, workingDayState) in timeRecording.workingDayRange track by $index">
                        <input type="number" class="form-control"
                               title="{{printToolTip(workingHour.days[workingDay]['status'] > 0)}}"
                               data-ng-model="workingHour.days[workingDay].workingTime" 
                               data-ng-disabled="workingHour.days[workingDay]['status'] > 0"
                               data-ng-change="calculateWorkingDaySum()" />
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">                                        
                    </td>
                    <td class="tr-workingDay" data-ng-repeat="(day, sum) in workingDaySum track by $index">
                        {{sum}}min (or {{sum / 60| number: 2}}h)
                    </td>
                </tr>

            </tfoot>
        </table>
    </div>


    <div class="panel-footer">

        <!-- Buttons -->
        <button class="btn" data-ng-click="addRow()">add row</button>
        <button class="btn btn-success" data-ng-click="sendToServer()">Update</button>
    </div>
</div>
