<h3>Vacation Manager</h3>
<h6>List of holidays</h6>

<!-- TODO breadcrumb -->


<!-- Matter -->

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">List of holidays</h3>
    </div>
    <div class="panel-body">
        <table class="table ">
            <tbody id="project-list-data" data-ng-repeat="vacation in vacations">
                <tr>
                    <td width="150px"><a href="#/vacations/{{vacation.individualId}}">{{vacation.individualNickName}}</a></td>
                    <td width="100px">
                        <span title="approved vacation days ({{vacation.approvedVacationDays}})">{{vacation.approvedVacationDays}}</span> of
                        <span title="number of vacation days ({{vacation.numberOfVacationDays}}) + residual leave of the year before ({{vacation.residualLeaveYearBefore}})">{{vacation.numberOfVacationDays + vacation.residualLeaveYearBefore}}</span>
                    </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar"
                                 data-ng-repeat="progress in vacation.progress" 
                                 data-tooltip-placement="top" 
                                 data-tooltip="{{progress.value}} days {{progress.typeText}}" 
                                 style="width: {{progress.percent}}%; background-color: {{progress.color}};">
                            </div>
                        </div>
                        <br>
                    </td>   
                    <td width="100px">
                        action
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
