<h2>Vacation | {{vacations.individualNickName}}</h2>
<h5>Vacation {{vacations.vacationYear}}</h5>

<div class="panel panel-default" style="border: 2px solid blue">
    <div class="panel-heading">
        <h3 class="panel-title">Vacation Chart</h3>
    </div>
    <div class="panel-body">

        <!-- chart overview -->
        <div class="row" style="border: 2px solid green">
            <div class="col-md-8" style="border: 2px solid yellow">

                <!-- Bar chart (Blue color). jQuery Flot plugin used. -->
                <div id="vacation-bar-chart"></div>
                <div class="bar-chart-x-axis-descr">jan</div>
                <div class="bar-chart-x-axis-descr">feb</div>
                <div class="bar-chart-x-axis-descr">mar</div>
                <div class="bar-chart-x-axis-descr">apr</div>
                <div class="bar-chart-x-axis-descr">may</div>
                <div class="bar-chart-x-axis-descr">jun</div>
                <div class="bar-chart-x-axis-descr">jul</div>
                <div class="bar-chart-x-axis-descr">aug</div>
                <div class="bar-chart-x-axis-descr">sep</div>
                <div class="bar-chart-x-axis-descr">oct</div>
                <div class="bar-chart-x-axis-descr">nov</div>
                <div class="bar-chart-x-axis-descr">dec</div>


            </div>
            <div class="col-md-4" style="border: 2px solid gold">

                <h3 style="margin-top: 0px">Vacation summary {{vacations.vacationYear}}</h3>
                <div class="row">
                    <div class="col-md-5">vacation days</div>
                    <div class="col-md-7">{{vacations.numberOfVacationDaysTotal}} &nbsp;&nbsp; (<span title="vacation days {{vacations.vacationYear}}">{{vacations.numberOfVacationDays}}</span>/<span title="residual leave {{vacations.vacationYearBefore}}">{{vacations.residualLeaveYearBefore}}</span>)</div>
                </div>
                <div class="row">
                    <div class="col-md-5">approved days</div>
                    <div class="col-md-7">{{vacations.vacationDaysThisYear}}</div>
                </div>
                <div class="row">
                    <div class="col-md-5">residual leave</div>
                    <div class="col-md-7">{{vacations.residualLeave}}</div>
                </div>

            </div>
            
        </div>
        
        
            <hr>
            nächste Zeile
        
    </div>

</div>

<hr>

<!-- Page heading -->
<div class="page-head">
    <!-- Page heading -->
    <h2 class="pull-left">Vacation | {{vacations.individualNickName}}
        <!-- page meta -->
        <span class="page-meta">Vacation {{vacations.vacationYear}}</span>
    </h2>


    <!-- Breadcrumb -->
    <div class="bread-crumb pull-right">
        <a href="#/"><i class="icon-home"></i> Home</a> 
        <!-- Divider -->
        <span class="divider">/</span> 
        <a href="#/vacations/{{vacations.individualId}}" class="bread-current">Vacation</a>
        <!-- Divider -->
    </div>

    <div class="clearfix"></div>

</div>
<!-- Page heading ends -->



<!-- Matter -->

<div class="matter">
    <div class="container-fluid">



        <div class="row-fluid">
            <div class="span12">
                <div class="widget wviolet">
                    <!-- Widget head -->
                    <div class="widget-head">
                        <div class="pull-left">Vacation Chart</div>
                        <div class="widget-icons pull-right">
                            <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                        </div>
                        <div class="clearfix"></div>
                    </div>             

                    <!-- Widget content -->
                    <div class="widget-content">
                        <div class="row-fluid padd">

                            <div class="span8">
                                <br>

                            </div>

                            <div class="span4">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </div>

        <div class="row-fluid">
            <div class="span12">
                <div class="widget wviolet">
                    <div class="widget-head">
                        <div class="pull-left">Request for Time Off</div>
                        <div class="widget-icons pull-right">
                            <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="widget-content" >
                        <!-- content -->
                        <div class="padd">

                            <!-- Form starts.  -->
                            <form class="form-horizontal" name="requestForm" novalidate>
                                <div class="control-group" data-ng-class="{error: myForm.vacationFrom.$invalid}">
                                    <label class="control-label" for="vacationFrom">Vacation from</label>
                                    <div class="controls">

                                        <div class="input-append" id="vacation-input-from">
                                            <input data-format="yyyy-MM-dd" class="span6" type="text" name="vacationFrom" data-ng-model="vacation.vacationFrom" placeholder="vacation from" required>
                                            <span class="add-on">
                                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group" data-ng-class="{error: myForm.vacationUntil.$invalid}">
                                    <label class="control-label" for="vacationUntil">Vacation Until</label>
                                    <div class="controls">

                                        <div class="input-append" id="vacation-input-until">
                                            <input data-format="yyyy-MM-dd" class="span6" type="text" name="vacationUntil" data-ng-model="vacation.vacationUntil" placeholder="vacation until (incl.)" required>
                                            <span class="add-on">
                                                <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                            </span>
                                        </div>

                                    </div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Vacation Days Calculated</label>
                                    <div class="controls">
                                        {{vacation.calculateVacationDays}}
                                        <button type="submit" data-ng-click="calculateVacationDays()" class="btn btn-info">Recalc</button>
                                    </div>
                                </div>

                                <div class="control-group" data-ng-class="{error: myForm.numberOfDays.$invalid}">
                                    <label class="control-label" for="numberOfDays">Vacation Days</label>
                                    <div class="controls">
                                        <input type="number" id="numberOfDays" name="numberOfDays" data-ng-model="vacation.numberOfDays" required>
                                    </div>
                                </div>


                                <hr />
                                <button class="btn btn-success" data-ng-click="issueRequestForTimeOff()">Issue request for time off</button>

                            </form>

                        </div>



                    </div>
                </div>
            </div>
        </div>


        <div class="row-fluid">
            <div class="span12">
                <div class="widget wviolet">

                    <div class="widget-head">
                        <div class="pull-left">Vacation List</div>
                        <div class="widget-icons pull-right">
                            <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> 
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="widget-content" >
                        <!-- content -->
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>from</th>
                                    <th>until</th>
                                    <th>numberOfDays</th>
                                    <th>state</th>
                                    <th></th>
                                </tr> 
                            </thead>
                            <tbody data-ng-repeat="vacationRecord in vacations.vacationRecords">
                                <tr>
                                    <td data-ng-click="selectVacationRecord(vacationRecord)">
                                        {{vacationRecord.vacationFrom}}
                                    </td>
                                    <td>{{vacationRecord.vacationUntil}}</td>
                                    <td>{{vacationRecord.numberOfDays}}</td>
                                    <td>{{stateText[vacationRecord.approvalState]}}</td>
                                    <td><a data-ng-click="removeVacationRecord(vacationRecord)" data-ng-show="vacationRecord.approvalState < 2">
                                            <span class="icon-remove" title="Urlaubsantrag löschen"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Modal -->
                        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel">Modal header</h3>
                            </div>
                            <div class="modal-body">
                                <p>One fine body…</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                <button class="btn btn-primary">Save changes</button>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div> 

                </div>

            </div>


            <div class="widget-foot">
                <!-- Footer goes here -->

            </div>
        </div>

    </div>

</div>
<!-- Matter ends -->

