<div class="row">
    <div class="col-md-8">
        <h3>Vacation Manager</h3>
    </div>
    <div class="col-md-4 text-right" style="margin-top: 15px">
        <form class="form-inline" role="form">
            <div class="form-group">
                <span class="input-sm">Year</span>
                <select class="form-control input-sm" style="width:80px" data-ng-model="vacationYear" data-ng-change="changeYear()">
                    <option ng-selected="vacationYear==='2013'">2013</option>
                    <option ng-selected="vacationYear==='2014'">2014</option>  
                    <option ng-selected="vacationYear==='2015'">2015</option>  
                    <option ng-selected="vacationYear==='2015'">2016</option>  
                    <option ng-selected="vacationYear==='2015'">2017</option>  
                    <option ng-selected="vacationYear==='2015'">2018</option>  
                    <option ng-selected="vacationYear==='2015'">2019</option>  
                    <option ng-selected="vacationYear==='2015'">2020</option>  
                </select>
            </div>    
        </form>
    </div>
</div>

<!-- TODO breadcrumb -->

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">List of holidays</h3>
    </div>
    <div class="panel-body">
        <div data-ng-repeat="vacation in vacations" >
            <div class="row" >
                <div class="col-md-1">
                    <a href="#/vacations/{{vacation.individualId}}">{{vacation.individualNickName}}</a>
                </div>
                <div class="col-md-3">
                    taken <span title="approved vacation days ({{vacation.approvedVacationDays}})">{{vacation.approvedVacationDays}}</span> of
                    <span title="number of vacation days ({{vacation.numberOfVacationDays}}) + residual leave of the year before ({{vacation.residualLeaveYearBefore}})">{{vacation.numberOfVacationDays + vacation.residualLeaveYearBefore}}</span>
                    <span title="{{vacation.residualLeave}} total residual leave">(open {{vacation.residualLeave}})</span>
                </div>
                <div class="col-md-7">
                    <div class="progress">
                        <div class="progress-bar"
                             data-ng-repeat="progress in vacation.progress" 
                             data-tooltip-placement="top" 
                             data-tooltip="{{progress.value}} days {{progress.typeText}}" 
                             style="width: {{progress.percent}}%; background-color: {{progress.color}};">
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a data-ng-click="activePanelChangeNumberOfVacationDays = vacation.individualId" href="">Change number of Vacation Days</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row" data-ng-show="activePanelChangeNumberOfVacationDays==vacation.individualId">

                <div class="col-md-offset-3 col-md-8">
                    <div class="panel panel-default" >
                        <div class="panel-heading">
                            <h3 class="panel-title">Change number of vacation days for <b>{{vacation.individualNickName}}</b> in the year <b>{{vacation.vacationYear}}</b></h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" data-role="form" name="formChangeNumberOfVacationDays" novalidate>
                                <div class="form-group">
                                    <label class="col-md-5 control-label">Current number of vacation days</label>
                                    <div class="col-md-7">
                                        <input class="form-control input-sm" readonly data-ng-model="vacation.numberOfVacationDays">                                       
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-5 control-label" for="newNumberOfDays">New number of vacation days</label>
                                    <div class="col-md-7">                                            
                                        <input class="form-control input-sm" type="number" id="newNumberOfVacationDays" data-ng-model="vacation.newNumberOfVacationDays" required>
                                    </div>
                                </div>

                                <p class="text-right">
                                    <button class="btn" data-ng-click="activePanelChangeNumberOfVacationDays = null">Cancel</button>
                                    <button class="btn btn-success" data-ng-click="changeNumberOfVacationDays(vacation)">Change</button>
                                </p>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <hr style="margin-top: 0px">
        </div>
    </div>
    <div class="panel-footer">

        <a href="rest/vacations/xls">
            <button class="btn btn-primary btn-sm">
                <i class="icon-list-alt"></i> Excel Download
            </button>
        </a>
        
        <button class="btn btn-success btn-sm" data-ng-click="takeoverResidualLeave()">
            <i class="icon-cog"></i> Takeover Residual Leave into next year
        </button>
    </div>
</div>
