<h3>Vacation | {{vacations.individualNickName}}</h3>
<h6>Vacation {{vacations.vacationYear}}</h6>

<!-- TODO breadcrumb -->

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Vacation Chart</h3>
    </div>
    <div class="panel-body">

        <!-- chart overview -->
        <div class="row">
            <div class="col-md-8">
                <!-- Bar chart (Blue color). jQuery Flot plugin used. -->
                <div id="vacation-bar-chart"></div>
                <div class="bar-chart-x-axis-descr">jan</div>
                <div class="bar-chart-x-axis-descr">feb</div>
                <div class="bar-chart-x-axis-descr">mar</div>
                <div class="bar-chart-x-axis-descr">apr</div>
                <div class="bar-chart-x-axis-descr">may</div>
                <div class="bar-chart-x-axis-descr">jun</div>
                <div class="bar-chart-x-axis-descr">jul</div>
                <div class="bar-chart-x-axis-descr">aug</div>
                <div class="bar-chart-x-axis-descr">sep</div>
                <div class="bar-chart-x-axis-descr">oct</div>
                <div class="bar-chart-x-axis-descr">nov</div>
                <div class="bar-chart-x-axis-descr">dec</div>


            </div>
            <div class="col-md-4">

                <h3 style="margin-top: 0px">Vacation summary {{vacations.vacationYear}}</h3>
                <div class="row">
                    <div class="col-md-5">vacation days</div>
                    <div class="col-md-7">{{vacations.numberOfVacationDaysTotal}} &nbsp;&nbsp; (<span title="vacation days {{vacations.vacationYear}}">{{vacations.numberOfVacationDays}}</span>/<span title="residual leave {{vacations.vacationYearBefore}}">{{vacations.residualLeaveYearBefore}}</span>)</div>
                </div>
                <div class="row">
                    <div class="col-md-5">approved days</div>
                    <div class="col-md-7">{{vacations.vacationDaysThisYear}}</div>
                </div>
                <div class="row">
                    <div class="col-md-5">residual leave</div>
                    <div class="col-md-7">{{vacations.residualLeave}}</div>
                </div>

            </div>
        </div>
    </div>
</div>




<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Request for Time Off</h3>
    </div>
    <div class="panel-body">

        <form class="form-horizontal" data-role="form" name="requestForm" novalidate>

            <div class="form-group">
                <label class="col-md-3 control-label" for="vacationFromUntil">from / until</label>
                <div class="col-md-9">
                    <div class="input-prepend">
                        <input type="text" readonly class="form-control" name="reservation" id="vacationFromUntil" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Vacation Days Calculated</label>
                <div class="col-md-9">
                    {{vacation.calculateVacationDays}}&nbsp;&nbsp;
                    <button type="submit" data-ng-click="calculateVacationDays()" class="btn btn-info">Recalc</button>
                </div>
            </div>

            <div class="form-group" data-ng-class="{error: myForm.numberOfDays.$invalid}">
                <label class="col-md-3 control-label" for="numberOfDays">Vacation Days</label>
                <div class="col-md-9">
                    <input type="number" id="numberOfDays" name="numberOfDays" data-ng-model="vacation.numberOfDays" required>
                </div>
            </div>

            <hr>
            <button class="btn btn-success" data-ng-click="issueRequestForTimeOff()">Issue request for time off</button>


        </form>

    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Vacation List</h3>
    </div>
    <div class="panel-body">

        <table class="table">
            <thead>
                <tr>
                    <th>from</th>
                    <th>until</th>
                    <th>numberOfDays</th>
                    <th>state</th>
                    <th></th>
                </tr> 
            </thead>
            <tbody data-ng-repeat="vacationRecord in vacations.vacationRecords">
                <tr>
                    <td data-ng-click="selectVacationRecord(vacationRecord)">
                        {{vacationRecord.vacationFrom}}
                    </td>
                    <td>{{vacationRecord.vacationUntil}}</td>
                    <td>{{vacationRecord.numberOfDays}}</td>
                    <td>{{stateText[vacationRecord.approvalState]}}</td>
                    <td><a data-ng-click="removeVacationRecord(vacationRecord)" data-ng-show="vacationRecord.approvalState < 2">
                            <span class="icon-remove" title="Urlaubsantrag löschen"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            <a href="rest/vacations/{{vacations.individualId}}/xls">
                <button class="btn btn-primary btn-sm">
                    <i class="icon-list-alt"></i> Excel Download
                </button>
            </a>
            </tfoot>
        </table>

    </div> 

</div>

