/* INFRASTRUCTURE */

body {
    background-color: black;
    margin-top: 50px;
}
.navbar-fixed-top {
    color: white;
    padding: 10px 20px 10px 30px;
}
.navbar-fixed-top a {
    color: white;
    text-decoration: none;
}

.sidebar {
    width: 230px; 
    float: left;
    display: block;
    position: relative;
}

.sidebar a {
    color: white;
    font-size: 15px;
    padding: 12px 20px;
    display: block;
    text-decoration: none !important;
}
.sidebar ul {
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    line-height: 25px;
    list-style-type: none;
    border-bottom: 1px solid #222222;
}

.sidebar ul li.has_submenu > ul li {
    border-top: 1px solid #222222;
    padding-left: 25px;
    line-height: 10px;
}
.sidebar ul li.has_submenu > ul li a {
    font-weight: normal;
    font-size: 90%;
    color: gainsboro;
}

.sidebar .navi > li.nred > a:hover, 
.sidebar .nave > li.nred current > a {
    background-color: red;
}
.sidebar .navi > li.has_submenu > ul li.nred > a:hover, 
.sidebar .navi > li.has_submenu > ul li.nred.current > a {
    color: red;
}
.sidebar .navi > li.nviolet > a:hover,
.sidebar .navi > li.nviolet.current > a {
    background-color: mediumvioletred;
}
.sidebar .navi > li.has_submenu > ul li.nviolet > a:hover,
.sidebar .navi > li.has_submenu > ul li.nviolet.current > a{
    color: mediumvioletred;
}
.sidebar .navi > li.norange > a:hover, 
.sidebar .navi > li.norange.current > a {
    background-color: orange;
}

.sidebar .navi > li.has_submenu > ul li.norange > a:hover,
.sidebar .navi > li.has_submenu > ul li.norange.current > a {
    color: orange;
}
.sidebar .navi > li.nlightblue > a:hover, 
.sidebar .navi > li.nlightblue.current > a{
    background-color: lightblue;
}
.sidebar .navi > li.has_submenu > ul li.nlightblue > a:hover,
.sidebar .navi > li.has_submenu > ul li.nlightblue.current > a {
    color: lightblue;
}
.sidebar .navi > li.ngreen > a:hover,
.sidebar .navi > li.ngreen.current > a {
    background-color: green;
}
.sidebar .navi > li.has_submenu > ul li.ngreen > a:hover,*
.sidebar .navi > li.has_submenu > ul li.ngreen.current > a {
    color: green;
}
.sidebar .navi > li.naqua > a:hover,
.sidebar .navi > li.naqua.current > a {
    background-color: aqua;
}
.sidebar .navi > li.has_submenu > ul li.naqua > a:hover,
.sidebar .navi > li.has_submenu > ul li.naqua.current > a {
    color: aqua;
}

#main-content {
    margin-left: 230px; 
    min-height: 900px; 
    background-color: white;
    padding: 15px 20px;
    color: #777;
    width: auto;
    margin-right: 0px;
    position: relative;
    overflow: auto;
}

/* Bootstrap 3.0 and angular.js modal (diabox) */
.modal {
    display: block;
}
.modal-body:before,
.modal-body:after {
    display: table;
    content: " ";
}
.modal-header:before,
.modal-header:after {
    display: table;
    content: " ";
}

/* PER DIEMS */
/* ========= */
.per-diems input[type="time"] {
    width: 73px;
}

.per-diems .table td {
    padding-top: 1px;
    padding-bottom: 1px;
    vertical-align: middle;
}

.per-diems select, .per-diems input {
    margin-bottom: 0px;
}

.per-diems .pd-action-column {
    width: 57px;
}

.per-diems .pd-project-column, .per-diems .pd-destination-column {
    width: 230px;
}

.per-diems .pd-fulltime-column {
    width: 15px;
}

.per-diems .pd-from-column, .per-diems .pd-to-column {
    width: 85px;
}

.per-diems .pd-date-column {
    width: 120px;
}

.per-diems td.pd-date-column {
    text-align: right;
}


.per-diems td.pd-charges-column {
    text-align: right;
}

.per-diems-selector .row-fluid .show-grid a div {
    margin: 5px;
}

/* TIME RECODRING */
/* ============== */

.tr-workingDay {
    text-align: right;
    min-width: 92px;
    max-width: 92px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 92px;
}


/* VACATIONS */
/* ========= */
.bar-chart-x-axis-descr {
    float:left; 
    width: 46px; 
    margin-right: 8px; 
    text-align: center
}

.progress-this-year-approved .bar, .progress .bar-this-year-approved {
    background-color: #fa3031;
    background-image: none;
}
.progress-this-year-residual-leave .bar, .progress .bar-this-year-residual-leave {
    background-color: #43c83c;
    background-image: none;
}
.progress-appendix-approved .bar, .progress .bar-appendix-approved {
    background-color: #ff3839;
    background-image: none;
}
.progress-appendix-residual-leave .bar, .progress .bar-appendix-residual-leave {
    background-color: #a9dba9;
    background-image: none;
}