

/* PER DIEMS */
/* ========= */
.per-diems input[type="time"] {
    width: 73px;
}

.per-diems .table td {
    padding-top: 1px;
    padding-bottom: 1px;
    vertical-align: middle;
}

.per-diems select, .per-diems input {
    margin-bottom: 0px;
}

.per-diems .pd-action-column {
    width: 57px;
}

.per-diems .pd-project-column, .per-diems .pd-destination-column {
    width: 230px;
}

.per-diems .pd-fulltime-column {
    width: 15px;
}

.per-diems .pd-from-column, .per-diems .pd-to-column {
    width: 85px;
}

.per-diems .pd-date-column {
    width: 120px;
}

.per-diems td.pd-date-column {
    text-align: right;
}


.per-diems td.pd-charges-column {
    text-align: right;
}

.per-diems-selector .row-fluid .show-grid a div {
    margin: 5px;
}

/* TIME RECODRING */
/* ============== */

.tr-workingHour {
    width: 27px;
    text-align: right;
}


/* VACATIONS */
/* ========= */
.bar-chart-x-axis-descr {
    float:left; 
    width: 48px; 
    margin-right: 8px; 
    text-align: center
}

.progress-this-year-approved .bar, .progress .bar-this-year-approved {
    background-color: #fa3031;
    background-image: none;
}
.progress-this-year-residual-leave .bar, .progress .bar-this-year-residual-leave {
    background-color: #43c83c;
    background-image: none;
}
.progress-appendix-approved .bar, .progress .bar-appendix-approved {
    background-color: #ff3839;
    background-image: none;
}
.progress-appendix-residual-leave .bar, .progress .bar-appendix-residual-leave {
    background-color: #a9dba9;
    background-image: none;
}