/* 
    Document   : style
    Created on : 18.04.2013, 16:58:01
    Author     : Matthias
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-family: sans-serif;
    font-size: 1em;
    background-color: white;
    height:100%;
    width: 100%;    
}

body>header {
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0px;
    margin: -10px;
    margin-bottom: 10px;

    background-color: black;
    background-image: url('bg-footer-noise.jpg');
    border-bottom: deepskyblue 4px solid;
}

body>section {
    margin: 90px 0 60px 0;
}

body>footer{
    height: 50px;
    width: 100%;
    position: fixed;
    bottom:0px;
    margin: -10px;
    background-image: url('bg-footer-noise.jpg');
    border-top: deepskyblue 8px solid;
}

#timerecording {
    overflow: hidden;
    width: 2500px;
}

#timerecording .block {
    border: 1px solid red;
    padding: 2px;
    margin: 2px;
    float: left;    
}

#timerecording .block .descr {
    width: 200px;
    background-color: beige;
}

#timerecording .block .descr input {
    width: 180px;
    background-color: bisque;
}

#timerecording .wd input {
    width: 40px;
    background-color: cornsilk;
}

#timerecording #block-descr .label {
    height: 60px;
}

.month {
    border: 1px solid blue;    
    float: left;
}
.wd-section-month {
    float: none;
}