/* 
    Document   : style
    Created on : 18.04.2013, 16:58:01
    Author     : Matthias
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-family: sans-serif;
    font-size: 1em;
    background-color: white;
    height:100%;
    width: 100%;    
}

body>header {
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0px;
    margin: -10px;
    margin-bottom: 10px;

    background-color: black;
    background-image: url('bg-footer-noise.jpg');
    border-bottom: deepskyblue 4px solid;
}

body>section {
    margin: 90px 0 60px 0;
}

body>footer{
    height: 50px;
    width: 100%;
    position: fixed;
    bottom:0px;
    margin: -10px;
    background-image: url('bg-footer-noise.jpg');
    border-top: deepskyblue 8px solid;
}

#timerecording {
    overflow: hidden;
    width: 2000px;
}

.time-block {
    border: 1px solid green;
    width: 55px;
    float: left;
}



.working-table-month {
    text-align: center;
}


#working-time-table {
    border: 1px solid blue;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
}

#working-time-table td {
    border: 1px solid lightgrey;
    padding: 4px;
    margin: 0px;
}

#working-time-table .wt-field {
    width: 40px;
    text-align: right;
}

.focus-highlight {
    background-color: lightpink;
}
.focus-highlight-field {
    background-color: red;
}