<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <!--<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>-->
        <script src="jquery-1.9.1.min.js"></script>       
        <!--<script src="handlebar-1.0.0-rc3.js"></script>-->
        <script src="underscore-1.4.4-min.js"></script>
        
        <script src="timerecording.js"></script>



        <link rel="stylesheet" href="style.css">


    </head>
    <body>
        <header>            
        </header>

        <section id="main-section">
            heute: <span id="today-text"></span>
            <input type="button" value="1 week" data-week="1" class="week-selector"/>
            <input type="button" value="2 weeks" data-week="2" class="week-selector"/>
            <input type="button" value="3 weeks" data-week="3" class="week-selector"/>
            <input type="button" value="4 weeks" data-week="4" class="week-selector"/>
            show from <input type="date" id="startDate" value="2013-04-01"/>
            show until <input type="date" id="endDate" value="2013-05-01"/><br>
            <input type="button" value="show" id="show-timerecording" />
            <input type="button" value="send" id="send-timerecording" />
            <br>
            <hr>

            <script type="html/template" id="underscore-template">
 
             <table id="working-time-table">
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
			<td class="wt-description"></td>
                        <% _.each( data.getWorkingTimeMonths(), function( value, key ){ %>
                            <td class="working-table-month" colspan="<%- value %>"><%- data.renderMonthName(key) %></td>
                        <% }); %>
                    </tr>
                    <tr>
                        <td>project</td>
                        <td>work package</td>
			<td class="wt-description">description</td>
                        <% _.each( data.getDateArray(), function( dateText ){ %>
                            <td class="column-<%- dateText %>">   <%- data.renderWorkingTableDateFormat( dateText ) %> </td>
                         <% }); %>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
			<td>sum</td>
                        <% _.each( data.getDateArray(), function( dateText ){ %>
                            <td id="sum-<%- dateText %>"></td>
                        <% }); %>
                    </tr>
                    
                    <% _.each( data.getWorkPackageDescription(), function( wpdValue, wpdKey ){ 
                        var workPackage = data.getWorkPackage()[wpdValue.wpId];
                        var projectInformation = {"name":""};
                        if (workPackage)
                            projectInformation = data.getProjectInformation()[workPackage.projectId];
                        %>
                    <tr>
                        <td>
                            <select class="projectInfoSelecter" id="project-wpd-id-<%=wpdKey%>"></select>
                        </td>
                        <td>
                            <select class="workPackageSelectField" id="workpackage-wpd-id-<%=wpdKey %>"></select>                           
                        </td>
			<td class="wt-description row-<%- wpdKey %>"><input type="text" class="descr-field" name="descr-<%- wpdKey %>" value="<%- wpdValue.description %>"></td>
                        <% _.each( data.getDateArray(), function( dateText ){ %>
                            <td id="cell-<%- dateText %>-<%- wpdKey %>" class="row-<%- wpdKey %> column-<%- dateText %>"><input type="text" class="wt-field active" name="<%- dateText %>-15" id="<%- dateText %>-<%- wpdKey %>"></td>
			
                        <% }); %>
		    </tr>                    
                    <% }); %>	
                    
                </tbody>
            </table>
            <hr>
        
            </script>
    
            <div id="timerecording">
            </div>
        </section>

        <footer>

        </footer>
    </body>
</html>
